version: '3'

services:
  icinga2:
    image: icinga/icinga2:latest
    container_name: icinga2
    hostname: icinga2
    profiles: ["icinga"]
    ports:
      - "5665:5665"
    environment:
      - ICINGA_MASTER=1
      - ICINGA_ZONE=master
      - ICINGA_API_PASSWORD=icinga
      # IDO MySQL Connection for Web UI
      - ICINGA_IDO_MYSQL_HOST=icingadb
      - ICINGA_IDO_MYSQL_USER=icinga
      - ICINGA_IDO_MYSQL_PASSWORD=icinga
      - ICINGA_IDO_MYSQL_DB=icinga
    volumes:
      # Important for Podman: /etc/icinga2 and /var/lib/icinga2 are symlinks into /data/*
      # so mount the data volume at /data, and mount test config inside /data as well.
      - ./data/icinga2:/data:rw
    restart: always
    depends_on:
      - icingadb
    networks:
      - icinga-net

  icingaweb2:
    image: icinga/icingaweb2:latest
    container_name: icingaweb2
    profiles: ["icinga"]
    ports:
      - "8080:8080"
    environment:
      - ICINGAWEB_AUTOCONF=true
      - ICINGAWEB_ADMIN_USER=admin
      - ICINGAWEB_ADMIN_PASS=admin
      - ICINGAWEB_IDO_DB_TYPE=mysql
      - ICINGAWEB_IDO_DB_HOST=icingadb
      - ICINGAWEB_IDO_DB_NAME=icinga
      - ICINGAWEB_IDO_DB_USER=icinga
      - ICINGAWEB_IDO_DB_PASS=icinga
    volumes:
      # Persist Icinga Web 2 configuration (setup wizard results)
      - ./data/icingaweb2:/data:rw
    restart: always
    depends_on:
      - icingadb
      - icinga2
    networks:
      - icinga-net

  icingadb:
    image: mariadb:latest
    container_name: icingadb
    profiles: ["icinga"]
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=icinga
      - MYSQL_USER=icinga
      - MYSQL_PASSWORD=icinga
    volumes:
      - icingadb-data:/var/lib/mysql
      # Create extra DB/user for Icinga Web 2 (runs only on first DB init)
      - ./icingadb-init:/docker-entrypoint-initdb.d:ro
    restart: always
    networks:
      - icinga-net

  esp32-sim:
    build: ./esp32-sim
    container_name: esp32-sim
    profiles: ["sim"]
    ports:
      - "8081:80"
    volumes:
      - ../trelaylaatern.ino:/app/trelaylaatern.ino:ro
    networks:
      - icinga-net


volumes:
  icingadb-data:

networks:
  icinga-net:
